{{define "rtdx-dungeons.tmpl"}}
<option value="1" data-maxfloors="3">Tiny Woods</option>
<option value="2" data-maxfloors="5">Thunderwave Cave</option>
<option value="3" data-maxfloors="9">Mt. Steel</option>
<option value="4" data-maxfloors="13">Sinister Woods</option>
<option value="5" data-maxfloors="9">Silent Chasm</option>
<option value="6" data-maxfloors="13">Mt. Thunder</option>
<option value="7" data-maxfloors="12">Great Canyon</option>
<option value="8" data-maxfloors="14">Lapis Cave</option>
<option value="9" data-maxfloors="15">Mt. Blaze</option>
<option value="10" data-maxfloors="14">Frosty Forest</option>
<option value="11" data-maxfloors="20">Mt. Freeze</option>
<option value="12" data-maxfloors="26">Magma Cavern</option>
<option value="13" data-maxfloors="34">Sky Tower</option>
<option value="16" data-maxfloors="4">Uproar Forest</option>
<option value="17" data-maxfloors="19">Waterfall Pond</option>
<option value="18" data-maxfloors="20">Desert Region</option>
<option value="19" data-maxfloors="50">Southern Cavern</option>
<option value="20" data-maxfloors="30">Wyvern Hill</option>
<option value="21" data-maxfloors="15">Darknight Relic</option>
<option value="22" data-maxfloors="11">Unown Relic</option>
<option value="23" data-maxfloors="30">Grand Sea</option>
<option value="24" data-maxfloors="75">Far-Off Sea</option>
<option value="25" data-maxfloors="15">Howling Forest</option>
<option value="26" data-maxfloors="40">Stormy Sea</option>
<option value="27" data-maxfloors="99">Buried Relic</option>
<option value="28" data-maxfloors="20">Solar Cave</option>
<option value="29" data-maxfloors="30">Fiery Field</option>
<option value="30" data-maxfloors="30">Lightning Field</option>
<option value="31" data-maxfloors="30">Northwind Field</option>
<option value="32" data-maxfloors="60">Mt. Faraway</option>
<option value="33" data-maxfloors="20">Western Cave</option>
<option value="34" data-maxfloors="25">Northern Range</option>
<option value="35" data-maxfloors="25">Pitfall Valley</option>
<option value="36" data-maxfloors="99">Wish Cave</option>
<option value="37" data-maxfloors="99">Joyous Tower</option>
<option value="38" data-maxfloors="99">Purity Forest</option>
<option value="39" data-maxfloors="19">Murky Cave</option>
<option value="40" data-maxfloors="99">Silver Trench</option>
<option value="42" data-maxfloors="8">Oddity Cave</option>
<option value="43" data-maxfloors="13">Remains Island</option>
<option value="44" data-maxfloors="18">Marvelous Sea</option>
<option value="45" data-maxfloors="25">Fantasy Strait</option>
{{end}}