{{define "rtdx-pokemon.tmpl"}}
<option value="75">Abra</option>
<option value="456">Absol</option>
<option value="187">Aerodactyl</option>
<option value="389">Aggron</option>
<option value="237">Aipom</option>
<option value="969">Aipom (Shiny)</option>
<option value="77">Alakazam</option>
<option value="424">Altaria</option>
<option value="977">Altaria (Shiny)</option>
<option value="238">Ambipom</option>
<option value="970">Ambipom (Shiny)</option>
<option value="227">Ampharos</option>
<option value="965">Ampharos (Shiny)</option>
<option value="438">Anorith</option>
<option value="30">Arbok</option>
<option value="70">Arcanine</option>
<option value="217">Ariados</option>
<option value="439">Armaldo</option>
<option value="387">Aron</option>
<option value="191">Articuno</option>
<option value="231">Azumarill</option>
<option value="967">Azumarill (Shiny)</option>
<option value="229">Azurill</option>
<option value="470">Bagon</option>
<option value="434">Baltoy</option>
<option value="448">Banette</option>
<option value="430">Barboach</option>
<option value="202">Bayleef</option>
<option value="345">Beautifly</option>
<option value="19">Beedrill</option>
<option value="474">Beldum</option>
<option value="56">Bellossom</option>
<option value="82">Bellsprout</option>
<option value="12">Blastoise</option>
<option value="332">Blaziken</option>
<option value="138">Blissey</option>
<option value="232">Bonsly</option>
<option value="367">Breloom</option>
<option value="401">Budew</option>
<option value="1">Bulbasaur</option>
<option value="16">Butterfree</option>
<option value="949">Butterfree (Shiny)</option>
<option value="421">Cacnea</option>
<option value="422">Cacturne</option>
<option value="412">Camerupt</option>
<option value="406">Carvanha</option>
<option value="346">Cascoon</option>
<option value="442">Castform</option>
<option value="14">Caterpie</option>
<option value="324">Celebi</option>
<option value="975">Celebi (Shiny)</option>
<option value="137">Chansey</option>
<option value="7">Charizard</option>
<option value="5">Charmander</option>
<option value="6">Charmeleon</option>
<option value="201">Chikorita</option>
<option value="455">Chimecho</option>
<option value="218">Chinchou</option>
<option value="454">Chingling</option>
<option value="465">Clamperl</option>
<option value="435">Claydol</option>
<option value="44">Clefable</option>
<option value="43">Clefairy</option>
<option value="42">Cleffa</option>
<option value="107">Cloyster</option>
<option value="331">Combusken</option>
<option value="432">Corphish</option>
<option value="300">Corsola</option>
<option value="973">Corsola (Shiny)</option>
<option value="437">Cradily</option>
<option value="433">Crawdaunt</option>
<option value="52">Crobat</option>
<option value="208">Croconaw</option>
<option value="123">Cubone</option>
<option value="204">Cyndaquil</option>
<option value="382">Delcatty</option>
<option value="303">Delibird</option>
<option value="492">Deoxys (Normal)</option>
<option value="493">Deoxys (Defense)</option>
<option value="494">Deoxys (Attack)</option>
<option value="495">Deoxys (Speed)</option>
<option value="103">Dewgong</option>
<option value="61">Diglett</option>
<option value="170">Ditto</option>
<option value="960">Ditto (Shiny)</option>
<option value="101">Dodrio</option>
<option value="100">Doduo</option>
<option value="311">Donphan</option>
<option value="195">Dragonair</option>
<option value="196">Dragonite</option>
<option value="962">Dragonite (Shiny)</option>
<option value="194">Dratini</option>
<option value="115">Drowzee</option>
<option value="62">Dugtrio</option>
<option value="282">Dunsparce</option>
<option value="451">Dusclops</option>
<option value="452">Dusknoir</option>
<option value="450">Duskull</option>
<option value="347">Dustox</option>
<option value="171">Eevee</option>
<option value="29">Ekans</option>
<option value="158">Electabuzz</option>
<option value="159">Electivire</option>
<option value="394">Electrike</option>
<option value="120">Electrode</option>
<option value="952">Electrode (Shiny)</option>
<option value="157">Elekid</option>
<option value="316">Entei</option>
<option value="175">Espeon</option>
<option value="961">Espeon (Shiny)</option>
<option value="121">Exeggcute</option>
<option value="953">Exeggcute (Shiny)</option>
<option value="122">Exeggutor</option>
<option value="954">Exeggutor (Shiny)</option>
<option value="376">Exploud</option>
<option value="99">Farfetch'd</option>
<option value="28">Fearow</option>
<option value="440">Feebas</option>
<option value="209">Feraligatr</option>
<option value="226">Flaaffy</option>
<option value="174">Flareon</option>
<option value="420">Flygon</option>
<option value="281">Forretress</option>
<option value="461">Froslass</option>
<option value="211">Furret</option>
<option value="362">Gallade</option>
<option value="360">Gardevoir</option>
<option value="108">Gastly</option>
<option value="110">Gengar</option>
<option value="87">Geodude</option>
<option value="279">Girafarig</option>
<option value="178">Glaceon</option>
<option value="459">Glalie</option>
<option value="283">Gligar</option>
<option value="284">Gliscor</option>
<option value="54">Gloom</option>
<option value="51">Golbat</option>
<option value="146">Goldeen</option>
<option value="66">Golduck</option>
<option value="89">Golem</option>
<option value="467">Gorebyss</option>
<option value="286">Granbull</option>
<option value="88">Graveler</option>
<option value="104">Grimer</option>
<option value="487">Groudon</option>
<option value="327">Grovyle</option>
<option value="69">Growlithe</option>
<option value="416">Grumpig</option>
<option value="404">Gulpin</option>
<option value="167">Gyarados</option>
<option value="958">Gyarados (Shiny)</option>
<option value="136">Happiny</option>
<option value="378">Hariyama</option>
<option value="109">Haunter</option>
<option value="289">Heracross</option>
<option value="127">Hitmonchan</option>
<option value="126">Hitmonlee</option>
<option value="128">Hitmontop</option>
<option value="323">Ho-Oh</option>
<option value="246">Honchkrow</option>
<option value="212">Hoothoot</option>
<option value="963">Hoothoot (Shiny)</option>
<option value="234">Hoppip</option>
<option value="143">Horsea</option>
<option value="308">Houndoom</option>
<option value="307">Houndour</option>
<option value="466">Huntail</option>
<option value="116">Hypno</option>
<option value="47">Igglybuff</option>
<option value="400">Illumise</option>
<option value="2">Ivysaur</option>
<option value="48">Jigglypuff</option>
<option value="491">Jirachi</option>
<option value="173">Jolteon</option>
<option value="236">Jumpluff</option>
<option value="156">Jynx</option>
<option value="185">Kabuto</option>
<option value="186">Kabutops</option>
<option value="76">Kadabra</option>
<option value="18">Kakuna</option>
<option value="141">Kangaskhan</option>
<option value="446">Kecleon</option>
<option value="145">Kingdra</option>
<option value="118">Kingler</option>
<option value="359">Kirlia</option>
<option value="131">Koffing</option>
<option value="117">Krabby</option>
<option value="485">Kyogre</option>
<option value="388">Lairon</option>
<option value="219">Lanturn</option>
<option value="169">Lapras</option>
<option value="318">Larvitar</option>
<option value="481">Latias</option>
<option value="483">Latios</option>
<option value="177">Leafeon</option>
<option value="215">Ledian</option>
<option value="214">Ledyba</option>
<option value="130">Lickilicky</option>
<option value="955">Lickilicky (Shiny)</option>
<option value="129">Lickitung</option>
<option value="436">Lileep</option>
<option value="341">Linoone</option>
<option value="349">Lombre</option>
<option value="348">Lotad</option>
<option value="375">Loudred</option>
<option value="556">Lucario</option>
<option value="350">Ludicolo</option>
<option value="322">Lugia</option>
<option value="428">Lunatone</option>
<option value="469">Luvdisc</option>
<option value="81">Machamp</option>
<option value="80">Machoke</option>
<option value="79">Machop</option>
<option value="160">Magby</option>
<option value="296">Magcargo</option>
<option value="166">Magikarp</option>
<option value="957">Magikarp (Shiny)</option>
<option value="161">Magmar</option>
<option value="162">Magmortar</option>
<option value="96">Magnemite</option>
<option value="97">Magneton</option>
<option value="98">Magnezone</option>
<option value="377">Makuhita</option>
<option value="299">Mamoswine</option>
<option value="395">Manectric</option>
<option value="67">Mankey</option>
<option value="305">Mantine</option>
<option value="304">Mantyke</option>
<option value="225">Mareep</option>
<option value="230">Marill</option>
<option value="124">Marowak</option>
<option value="335">Marshtomp</option>
<option value="365">Masquerain</option>
<option value="385">Mawile</option>
<option value="392">Medicham</option>
<option value="391">Meditite</option>
<option value="203">Meganium</option>
<option value="63">Meowth</option>
<option value="476">Metagross</option>
<option value="980">Metagross (Shiny)</option>
<option value="475">Metang</option>
<option value="15">Metapod</option>
<option value="200">Mew</option>
<option value="197">Mewtwo</option>
<option value="339">Mightyena</option>
<option value="441">Milotic</option>
<option value="314">Miltank</option>
<option value="150">Mime Jr.</option>
<option value="398">Minun</option>
<option value="247">Misdreavus</option>
<option value="248">Mismagius</option>
<option value="193">Moltres</option>
<option value="151">Mr. Mime</option>
<option value="334">Mudkip</option>
<option value="105">Muk</option>
<option value="189">Munchlax</option>
<option value="245">Murkrow</option>
<option value="223">Natu</option>
<option value="41">Nidoking</option>
<option value="38">Nidoqueen</option>
<option value="36">Nidoran♀</option>
<option value="39">Nidoran♂</option>
<option value="37">Nidorina</option>
<option value="40">Nidorino</option>
<option value="371">Nincada</option>
<option value="46">Ninetales</option>
<option value="950">Ninetales (Shiny)</option>
<option value="372">Ninjask</option>
<option value="213">Noctowl</option>
<option value="964">Noctowl (Shiny)</option>
<option value="379">Nosepass</option>
<option value="411">Numel</option>
<option value="352">Nuzleaf</option>
<option value="302">Octillery</option>
<option value="53">Oddish</option>
<option value="183">Omanyte</option>
<option value="184">Omastar</option>
<option value="112">Onix</option>
<option value="57">Paras</option>
<option value="58">Parasect</option>
<option value="357">Pelipper</option>
<option value="64">Persian</option>
<option value="310">Phanpy</option>
<option value="31">Pichu</option>
<option value="23">Pidgeot</option>
<option value="22">Pidgeotto</option>
<option value="21">Pidgey</option>
<option value="32">Pikachu</option>
<option value="298">Piloswine</option>
<option value="280">Pineco</option>
<option value="163">Pinsir</option>
<option value="397">Plusle</option>
<option value="74">Politoed</option>
<option value="71">Poliwag</option>
<option value="72">Poliwhirl</option>
<option value="73">Poliwrath</option>
<option value="90">Ponyta</option>
<option value="338">Poochyena</option>
<option value="180">Porygon</option>
<option value="182">Porygon-Z</option>
<option value="181">Porygon2</option>
<option value="68">Primeape</option>
<option value="380">Probopass</option>
<option value="65">Psyduck</option>
<option value="319">Pupitar</option>
<option value="244">Quagsire</option>
<option value="205">Quilava</option>
<option value="287">Qwilfish</option>
<option value="33">Raichu</option>
<option value="315">Raikou</option>
<option value="358">Ralts</option>
<option value="91">Rapidash</option>
<option value="951">Rapidash (Shiny)</option>
<option value="26">Raticate</option>
<option value="25">Rattata</option>
<option value="489">Rayquaza</option>
<option value="479">Regice</option>
<option value="478">Regirock</option>
<option value="480">Registeel</option>
<option value="468">Relicanth</option>
<option value="301">Remoraid</option>
<option value="134">Rhydon</option>
<option value="133">Rhyhorn</option>
<option value="135">Rhyperior</option>
<option value="555">Riolu</option>
<option value="402">Roselia</option>
<option value="403">Roserade</option>
<option value="383">Sableye</option>
<option value="472">Salamence</option>
<option value="34">Sandshrew</option>
<option value="35">Sandslash</option>
<option value="328">Sceptile</option>
<option value="153">Scizor</option>
<option value="152">Scyther</option>
<option value="144">Seadra</option>
<option value="147">Seaking</option>
<option value="463">Sealeo</option>
<option value="351">Seedot</option>
<option value="102">Seel</option>
<option value="210">Sentret</option>
<option value="427">Seviper</option>
<option value="407">Sharpedo</option>
<option value="373">Shedinja</option>
<option value="471">Shelgon</option>
<option value="106">Shellder</option>
<option value="353">Shiftry</option>
<option value="366">Shroomish</option>
<option value="288">Shuckle</option>
<option value="972">Shuckle (Shiny)</option>
<option value="447">Shuppet</option>
<option value="344">Silcoon</option>
<option value="306">Skarmory</option>
<option value="235">Skiploom</option>
<option value="381">Skitty</option>
<option value="370">Slaking</option>
<option value="368">Slakoth</option>
<option value="93">Slowbro</option>
<option value="95">Slowking</option>
<option value="92">Slowpoke</option>
<option value="295">Slugma</option>
<option value="313">Smeargle</option>
<option value="155">Smoochum</option>
<option value="291">Sneasel</option>
<option value="190">Snorlax</option>
<option value="458">Snorunt</option>
<option value="285">Snubbull</option>
<option value="429">Solrock</option>
<option value="27">Spearow</option>
<option value="462">Spheal</option>
<option value="216">Spinarak</option>
<option value="417">Spinda</option>
<option value="976">Spinda (Shiny)</option>
<option value="415">Spoink</option>
<option value="10">Squirtle</option>
<option value="312">Stantler</option>
<option value="149">Starmie</option>
<option value="956">Starmie (Shiny)</option>
<option value="148">Staryu</option>
<option value="113">Steelix</option>
<option value="233">Sudowoodo</option>
<option value="968">Sudowoodo (Shiny)</option>
<option value="317">Suicune</option>
<option value="240">Sunflora</option>
<option value="239">Sunkern</option>
<option value="364">Surskit</option>
<option value="423">Swablu</option>
<option value="405">Swalot</option>
<option value="336">Swampert</option>
<option value="355">Swellow</option>
<option value="297">Swinub</option>
<option value="179">Sylveon</option>
<option value="354">Taillow</option>
<option value="139">Tangela</option>
<option value="140">Tangrowth</option>
<option value="165">Tauros</option>
<option value="293">Teddiursa</option>
<option value="85">Tentacool</option>
<option value="86">Tentacruel</option>
<option value="222">Togekiss</option>
<option value="220">Togepi</option>
<option value="221">Togetic</option>
<option value="330">Torchic</option>
<option value="414">Torkoal</option>
<option value="207">Totodile</option>
<option value="418">Trapinch</option>
<option value="326">Treecko</option>
<option value="453">Tropius</option>
<option value="206">Typhlosion</option>
<option value="320">Tyranitar</option>
<option value="125">Tyrogue</option>
<option value="176">Umbreon</option>
<option value="249">Unown (A)</option>
<option value="250">Unown (B)</option>
<option value="251">Unown (C)</option>
<option value="252">Unown (D)</option>
<option value="253">Unown (E)</option>
<option value="254">Unown (F)</option>
<option value="255">Unown (G)</option>
<option value="256">Unown (H)</option>
<option value="257">Unown (I)</option>
<option value="258">Unown (J)</option>
<option value="259">Unown (K)</option>
<option value="260">Unown (L)</option>
<option value="261">Unown (M)</option>
<option value="262">Unown (N)</option>
<option value="263">Unown (O)</option>
<option value="264">Unown (P)</option>
<option value="265">Unown (Q)</option>
<option value="266">Unown (R)</option>
<option value="267">Unown (S)</option>
<option value="268">Unown (T)</option>
<option value="269">Unown (U)</option>
<option value="270">Unown (V)</option>
<option value="271">Unown (W)</option>
<option value="272">Unown (X)</option>
<option value="273">Unown (Y)</option>
<option value="274">Unown (Z)</option>
<option value="275">Unown (!)</option>
<option value="276">Unown (?)</option>
<option value="294">Ursaring</option>
<option value="172">Vaporeon</option>
<option value="60">Venomoth</option>
<option value="59">Venonat</option>
<option value="3">Venusaur</option>
<option value="419">Vibrava</option>
<option value="84">Victreebel</option>
<option value="369">Vigoroth</option>
<option value="55">Vileplume</option>
<option value="399">Volbeat</option>
<option value="119">Voltorb</option>
<option value="45">Vulpix</option>
<option value="409">Wailmer</option>
<option value="410">Wailord</option>
<option value="464">Walrein</option>
<option value="11">Wartortle</option>
<option value="292">Weavile</option>
<option value="17">Weedle</option>
<option value="83">Weepinbell</option>
<option value="132">Weezing</option>
<option value="431">Whiscash</option>
<option value="374">Whismur</option>
<option value="49">Wigglytuff</option>
<option value="356">Wingull</option>
<option value="278">Wobbuffet</option>
<option value="971">Wobbuffet (Shiny)</option>
<option value="243">Wooper</option>
<option value="342">Wurmple (Silcoon)</option>
<option value="343">Wurmple (Cascoon)</option>
<option value="277">Wynaut</option>
<option value="224">Xatu</option>
<option value="241">Yanma</option>
<option value="242">Yanmega</option>
<option value="426">Zangoose</option>
<option value="979">Zangoose (Shiny)</option>
<option value="192">Zapdos</option>
<option value="340">Zigzagoon</option>
<option value="50">Zubat</option>
{{end}}